<!DOCTYPE html>
<html lang="en">

<head>
  <title>Week 3 - Vinh Le</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <script src="../framework/js/vue.js"></script>

  <div id="app">
    <h1>String Test</h1>
    <input v-model="name"></input>
    <!-- Check if the message is my name -->
    <div v-if="name.toLowerCase() == 'caslon'">
      <p>Awesome Name!</p>
    </div>
    <!-- If it's not my name, show this -->
    <div v-else>
      <!-- Show the message -->
      <p>{{ name }} is NOT my name</p>
    </div>
  </div>

  <script>
    // Create a new Vue instance
    Vue.createApp({
      // Define the data
      data() {
        return {
          // Define the message
          name: "Hello World",
        }
      },
    }).mount('#app');
  </script>
</body>